<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>GroupDeal</title>
    
    <script src="public/www/lib/angular/angular.js"></script>
    <script src="public/www/lib/satellizer/satellizer.js"></script>
    <script src="public/www/lib/angular-ui-router/release/angular-ui-router.js"></script>
    
    <script src="public/www/app.js"> </script>
    <script src="public/www/utils/constants.js"> </script>
    <script src="public/www/modules/config/authConfig.js"> </script>
    
    <!-- Login -->
    <script src="public/www/modules/login/loginController.js"> </script>
    <script src="public/www/modules/login/loginService.js"> </script>
</head>
<body ng-app="app">
<ui-view></ui-view>
</body>
</html>